name: cinema_plus
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_launcher_icons: ^0.14.4
  flutter_svg: ^2.0.10+1
  image_picker: ^1.1.1
  dio: ^5.7.0
  shared_preferences: ^2.3.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - assets/logo/
    - assets/welcome/

flutter_launcher_icons:
  android: true
  ios: true
  min_sdk_android: 23
  image_path: "assets/icons/app_icon.png"
